<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('error.css') }}">
        <link rel="stylesheet" href="{{ asset('footer.css') }}">

        <title>Le musée du Louvre - Erreur 404</title>
    </head>

    <body>
        <section class="container" id="error">
            <div id="transparency">
                <div class="text-center" id="errorExplained">
                    <h3>Erreur {{ status_code }} !</h3>
                    <p>Nous sommes désolé mais la page que vous avez demandée n'existe pas.<br/>
                        Voici la réponse de notre serveur: <q>{{ status_text }}</q>
                    </p>
                    <a href="{{ path('louvre_booking_homepage') }}" class="btn btn-light btn-lg rounded-pill">Revenir à la page d'accueil</a>
                </div>
            </div>
        </section>

        <footer class="footer fixed-bottom">
                <div class="container">
                    <span class="text-muted">Copyright &copy; Le musée du Louvre 2018</span>
                </div>
        </footer>
    </body>
</html>