{% extends "layout.html.twig" %}

{% block body %}

	{% for message in app.session.flashbag.get('booked') %}
	    <div class="alert alert-info">{{ message }}</div>
	{% endfor %}

	<div class="container-fluid">
		<div class="row justify-content-md-center" id="paymentField">
			<div class="col-lg-12 mb-4">
				<h2>Paiement</h2>
				<div class="card mb-4 text-center">
			        <h3 class="card-title">Votre réservation</h3>
			        <div class="card-body">
			            <p class="card-text">Montant total: {{ buyer.totalPrice }} €</p>
			            <div class="card-footer">
			                <form action="{{ path('louvre_booking_payment') }}" method="POST">
								<script
									src="https://checkout.stripe.com/checkout.js"
									class="stripe-button"
									data-key="pk_test_tDb6XO0ZNEPKErPi5Qrzwyhh"
									data-image="{{ asset('images/logo.png') }}"
									data-name="Musée du Louvre"
									data-description="Réservation pour {{ buyer.quantity }} personne(s)"
									data-zip-code="true"
                    				data-currency="eur"
                    				data-locale="auto"
									data-amount="{{ buyer.totalPrice * 100}}">
								</script>
							</form>
			            </div>
			        </div>
			    </div>
			</div>
	    </div>
	</div>

{% endblock %}

{% block scripts %}

	{{ parent() }}
	<script type="text/javascript" src="{{ asset('checkout.js') }}"></script>

{% endblock %}