{% extends "layout.html.twig" %}

{% block body %}

	{% for message in app.session.flashbag.get('booked') %}
	    <div class="alert alert-info">{{ message }}</div>
	{% endfor %}

	<div class="container-fluid">
		<div class="row justify-content-md-center" id="paymentField">
			<div class="col-lg-12 mb-4">
				<h2>Paiement</h2>
				<div class="card mb-4 text-center">
			        <h3 class="card-title">Votre réservation</h3>
			        <div class="card-body">
			            <p class="card-text">Montant total: {{ buyer.totalPrice }} €</p>
			            <div class="card-footer">
			                <button id="paymentButton">Payer</button>
			            </div>
			        </div>
			    </div>
			</div>
	    </div>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('checkout.js') }}"></script>
	<script type="text/javascript">
		var amount = {{ buyer.totalPrice }};
		var nbVisitor = {{ buyer.quantity }};
	</script>
{% endblock %}