<div align="center">
	<img src="{{ absolute_url(asset('images/logo.png')) }}">
    <h3>Musée du Louvre - Confirmation de réservation:</h3>
    <p>Numéro de réservation: {{ buyer.bookingNumber }}<br/>
    Date de la visite: {{ buyer.date }}
    Vous avez réservé {{ buyer.quantity }} billet(s) pour un montant de {{ buyer.totalPrice|number_format(2, ',', ' ') }} €</p>

    <h4>Récapitulatif de votre réservation:</h4>
    <ul>
    	{% for booking in buyer.bookings %}
    		<li>
    			{{ booking.firstName }} {{ booking.lastName }}: un 
    			{% if booking.typeTicket === 'BJ' %} Billet Journée{% else %} Billet Demi-journée{% endif %} au tarif 
    			{% if booking.price == 0 %} moins de 4 ans{% elseif booking.price == 8 %} enfant{% elseif booking.price == 10 %} réduit{% elseif booking.price == 12 %} normal{% else %} senior{% endif %} (soit 
    			{% if booking.price == 0 %} 0{% elseif booking.price == 8 %} 8{% elseif booking.price == 10 %} 10{% elseif booking.price == 12 %} 12{% else %} 16{% endif %} €)
    		</li>
    	{% endfor %}
    </ul>

    <p>Merci de vous présenter avec cet e-mail le jour de votre visite, celui-ci fait office de ticket d'entrée.<br/>
    Merci également aux personnes bénéficiant d'un tarif réduit de présenter un justificatif.</p>
</div>