<div class="col-lg-12" id="steps">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

	<div class="col-lg-12" id="step1">
        <div class="row form-group">
            {{ form_label(form.date, "Date de la visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.date) }}
            <div class="col-sm-10">
                {{ form_widget(form.date) }}
            </div>
        </div>
	</div>

	<div class="col-lg-12" id="step2">
        <div class="row form-group">
            {{ form_label(form.typeTicket, "Choix du billet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.typeTicket) }}
            <div class="col-sm-10">
                {{ form_widget(form.typeTicket, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
	</div>

	<div class="col-lg-12" id="step3">
        <div class="row form-group">
            {{ form_label(form.quantity, "Nombre de visiteurs", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.quantity) }}
            <div class="col-sm-10">
                {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row error" id="stepError1">
            <span class="alert alert-danger text-center">Vous devez sasir un nombre de visiteurs entre 0 et 10 !</span>
        </div>

        <div class="row mb-4 validate_step">
            <a href="#step3" id="visitorForm"><span class="far fa-arrow-alt-circle-down fa-5x"></span></a>
        </div>
	</div>

	<div class="col-lg-12" id="step4">
        <div class="row form-group">
            {{ form_label(form.bookings, "Informations complémentaires", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.bookings) }}
            <div class="col-sm-10">
                {{ form_widget(form.bookings) }}
            </div>
        </div>

        <div class="row error" id="stepError2">
            <span class="alert alert-danger text-center">Le nombre de visiteurs indiqué ne correspond pas au nombre de formulaire par visiteur.</span>
        </div>

        <div class="row mb-4 validate_step">
            <a href="#step5" id="emailForm"><span class="far fa-check-circle fa-5x"></span></a>
        </div>
	</div>

	<div class="col-lg-12" id="step5">
        <div class="row form-group">
            {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row error" id="formError">
            <span class="alert alert-danger text-center">Vous passez commande après 14h00 ! Seul le billet demi-journée est valide.</span>
        </div>

        <div class="row validate_step">
            {{ form_widget(form.paid, { 'label': 'Réserver' }) }}
        </div>
	</div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    var daysOff = {{ daysOff|json_encode|raw }};
</script>