<div class="col-lg-12" id="step">
	<div class="col-lg-12">
		<h3>Jour de visite</h3>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="row form-group">
            {{ form_label(form.date, "Date de la visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.date) }}
            <div class="col-sm-10">
                {{ form_widget(form.date) }}
            </div>
        </div>

        <div class="row form-group">
            {{ form_label(form.quantity, "Nombre de visiteurs", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.quantity) }}
            <div class="col-sm-10">
                {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <a href="#" id="validate_step"><i class="far fa-check-circle fa-5x"></i></a>

        {{ form_row(form.bookings) }}

        <div class="row form-group">
            {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_widget(form.reserver, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
	</div>
	<div class="col-lg-12">
		<h3>Type de billet</h3>
	</div>
	<div class="col-lg-12">
		<h3>Nombre de billet</h3>
	</div>
	<div class="col-lg-12">
		<h3>Informations complémentaires</h3>
	</div>
	<div class="col-lg-12">
		<h3>E-mail de réservation</h3>
	</div>
	<div class="col-lg-12">
		<h3>Paiement</h3>
	</div>	
</div>